{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Human resource management</title>
</head>
<body>
{% block content %}
<h1 class="text-center">Human resource management</h1>
{% for department in departments %}
    <h1><a href="{% url 'department_detail' dept_id=department.id %}">{{ department.title }}</a>{{department.average_salary}}</h1>
{% endfor %}

<br><a class="btn btn-default" href="{% url 'add_new_dept' %}">
    <span class="glyphicon glyphicon-plus"></span>ADD NEW DEPT</a><br>
{% endblock %}
</body>
</html>
